<section>
  <h2><%= section_title %>
    <span><%= todos.completed.count %>/<%= todos.count %></span>
  </h2>
  <% todos.order(:due_date).each do |todo| %>
  <% if section_title == "Overdue" && todo.completed %>
  <% else %>
  <p>
    <span class="TextSpan">
      <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
        <input class="Checkbox" name="completed" onClick="this.form.submit()" type="checkbox" <%= todo.completed ? "checked" : "" %>>
      <span class='Todos <%= todo.completed ? "checked" : "" %>'>
        <%= todo.todo_text %>
        <% if show_date %>
        <span style="color: grey"><%= todo.due_date %></span>
        <% end %>
        <i class="fa fa-trash-o" style="font-size: 20px; margin-left: 30px; color: white"
          onMouseOver="this.style.color='black', this.style.cursor='pointer'" onMouseOut="this.style.color='white'">
        </i>
      </span>
      <% end %>
    </span>
  </p>
  <% end %>
  <% end %>
</section>
